body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
  margin-top: 15px;
  display: block;
  font-weight: bold;
}

select, input, button {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
}

#lista-gastos {
  list-style: none;
  padding: 0;
}

#lista-gastos li {
  background: #f1f5f9;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
}

